root = true

[*]
charset = utf-8  //编码  
indent_style = space   //空格缩进
indent_size = 2        //空两格
end_of_line = lf       //linux和mac的风格
insert_final_newline = true   //末尾插入换行符
trim_trailing_whitespace = true    //自动移除行位空格
